.icons{
  color: rgba(200, 0, 255, 0.548);
}

.icons * {
  padding: 10px;
  cursor: pointer;
}

.readOnly {
  border: none;
  width: 90%;
  text-overflow: ellipsis;
}

.selected {
  background: hsl(0, 0%, 90%);
}

.selected input {
  background: hsl(0, 0%, 90%);
}

